# Compiled class file
*.class

# Log files
*.log

# Bytecode
*.jar
*.war
*.ear
target/
classes/
# Libraries
/lib/
/lib/*

# Eclipse files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Compiled Gradle files
.gradle/

# Local configuration file (e.g., application.yaml)
application.properties

# Package Files #
*.nar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see https://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
